@font-face {
	font-family: 'Share Tech Mono';
	src: url('/css/ShareTechMono-Regular.ttf');
}
#gm-container {
	text-align:center;
	border: 1px solid blue;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 60px;
	font-family: 'Share Tech Mono', sans-serif;
	background: black;
}
#gm-title {
	font-size: 40px;
	color: white;
}
#gm-level-title {
	font-size: 30px;
	color: #99f;
}